.bg-color {
    background-color: #EDE9E9 !important;
}

.accent1 {
    color: #6E44FF !important;
}

.accent2 {
    color: #2A9D8F;
}

.accent3 {
    /* color: #D64933; */
    color: #FF299C;
}

body {
    font-family: 'Nunito', sans-serif !important;
}

@media only screen and (max-width: 767px) {
    body {
        cursor: pointer;
    }
}

.ball_tool_tip {
    height: 30px;
    width: 30px;
    background-color: #2b2d42;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: -40px;
    top: 75px;
    border: .5px solid #d0d7de;
    /* box-shadow: 1px 1px 5px #d0d7de; */
    text-align: center;
    color: black;
    margin: auto;
}


/* .ball_tool_tip:hover{
    height: 30px;
    width: fit-content;
    padding-right: 15px;
    background-color: #fff;
    border-radius: 2em;
    display: inline-block;
    position: relative;
    left: -32px;
    top: 65px;
    /* border: .5px solid #d0d7de; */

/* box-shadow: 1px 1px 5px #d0d7de;
    text-align: left; }
    */
/* 
#ball_tool_text {
    position: relative;
    top: 2px;
    left: 0.5px;
    right: 0.5px;
    width: fit-content;
} */

/* #tool_text {
    display: none;
} */

.smol {
    font-size: larger;
}

.w {
    margin: 3em auto;
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1920px) {
    .w {
        margin: 3em auto;
        max-width: 768px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10em;
    }

    .textstuff {
        /* width: fit-content; */
        position: relative;
        top: -10px;
    }

    .justthis {
        text-align: left !important;
    }

    .pt-45 {
        padding-top: 2.5em;
    }
}

.justthis {
    text-align: center;
}

.textstuff {
    position: relative;
    top: -10px;
    /* font-weight: bolder; */
}

#lessmargin {
    margin-bottom: 0em;
    text-align: center;
    /* font-weight: ; */
}

.inline_text_highlight {
    color: black;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: underline;
}

.inline_text_highlight:hover {
    cursor: pointer;
}

a {
    color: inherit;
    font-style: normal;
    text-decoration: none;
    font-family: inherit;
}

a:hover {
    color: inherit;
    font-style: normal;
    text-decoration: none;
    font-family: inherit;
    cursor: pointer;
}

.fa {
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

/* .ball1{
    width: 20px;
    height: 20px;
    background-color: aqua;
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
    animation: ball1 1s forwards;
    border: 5px solid aqua;
    position: absolute;
    z-index: 100;
}
@keyframes ball1 {
    20%{
        transition: all 0.5s ease-in-out;
    }
    25%{

    }
    30%{
        
    }
    40%{
        margin-top:300px;
        transition: all 0.2s ease-in-out;
    }
    95%{
        margin-top: 800px;
        bottom: 1px;
        width:20px;
        height:20px;
        transition:all 0.2s ease-in-out;
    }
    100%{
        margin-bottom: 1000px;
    }
} */